.list-card {
    overflow: hidden;
}
.list-card-labels {
    display: block;
    margin: 0!important;
}
.list-card-labels .card-label {
    font-size: .7142857142857143rem;
    line-height: 1.142857142857143rem!important;
    height: inherit!important;
    margin-right: 0;
    padding: 0 0.5em!important;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .1) 0 0 5px, rgba(0, 0, 0, .2) 0 0 2px;
    width: auto!important;
    display: inline!important;
}

.list-card-title .card-short-id {
    display: block !important;
    margin-bottom: 2px;
    color: #8c8c8c !important;
}
.list-header {
  padding: 8px 60px 8px 10px !important;
}

.js-list-wider-btn {
  position: absolute;
  top: 0;
  right: 34px;
  background-clip: content-box;
  background-origin: content-box;
  padding: 8px 0 8px 8px;
  color: #999;
}

.js-list-wider-btn:hover {
  color: #4d4d4d;
}

.js-list-wider-btn:before {
  content: "\EA01"
}

.icon-mte {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 9pt;
  text-align: center;
  display: inline-block;
  font-family: "my-trello-extension-font";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mte-slim:before {
  content: "\EA02"
}
.icon-mte-wider:before {
  content: "\EA01"
}
.icon-mte-md:before {
  content: "\EA03"
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.project {
  background-color: #8c8c8c !important;
  border-radius: 3px;
  color: #e1fafb !important;
  float: left;
  font-size: .7142857142857143rem;
  line-height: 1.142857142857143rem!important;
  text-align: left;
  background-repeat: no-repeat !important;
  background-position: 3px 3px !important;
  padding: 0 4px!important;
}

.project:empty {
  display: none;
}

.list-card-markdown-link-operation {
  background-color: #EDEFF0;
  background-clip: padding-box;
  background-origin: padding-box;
  border-radius: 3px;
  opacity: .8;
  padding: 4px;
  position: absolute;
  right: 33px;
  top: 3px;
  visibility: hidden;
  z-index: 40;
  color: #999;
}

.list-card.active-card .list-card-markdown-link-operation {
  visibility: visible
}

.list-card-markdown-link-operation:hover {
  background-color: #D6DADC;
  opacity: 1;
}
