.list-card {
    overflow: hidden;
}
.list-card-labels {
    display: block;
    margin: 0!important;
}
.list-card-labels .card-label {
    font-size: .7142857142857143rem;
    line-height: 1.142857142857143rem!important;
    height: inherit!important;
    margin-right: 0;
    padding: 0 0.5em!important;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .1) 0 0 5px, rgba(0, 0, 0, .2) 0 0 2px;
    width: auto!important;
    display: inline!important;
}

.list-card-title .card-short-id {
    display: block !important;
    margin-bottom: 2px;
    color: #8c8c8c !important;
}
.list-header {
  padding: 8px 60px 8px 10px !important;
}

.js-list-wider-btn {
  position: absolute;
  top: 0;
  right: 34px;
  background-clip: content-box;
  background-origin: content-box;
  padding: 8px 0 8px 8px;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
